#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DIY.org – Online Courses and Fun Projects for Kids
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kijpiplolmimfgbfkghfmonfahfhmabc
Icon=chrome-kijpiplolmimfgbfkghfmonfahfhmabc-Default
StartupWMClass=crx_kijpiplolmimfgbfkghfmonfahfhmabc
