#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Audio Trainer als Download jetzt aussuchen beim Spotlight Shop
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 9" --app-id=bdclkgkcdnnennammdagponcccfbnedp
Icon=chrome-bdclkgkcdnnennammdagponcccfbnedp-Profile_9
StartupWMClass=crx_bdclkgkcdnnennammdagponcccfbnedp
