#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GraphicsMagick - A Powerful Image Pro...
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=mhamefkogmkebnibimdpnhhlgfpabbol
Icon=chrome-mhamefkogmkebnibimdpnhhlgfpabbol-Default
StartupWMClass=crx_mhamefkogmkebnibimdpnhhlgfpabbol
