#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Asset - Documentation - Silex - The PHP micro-framework based on the Symfony Components
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=blckaiankeggcljpekbillokmjappplg
Icon=chrome-blckaiankeggcljpekbillokmjappplg-Default
StartupWMClass=crx_blckaiankeggcljpekbillokmjappplg
