#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=The Architecture and History of Git: A Distributed Version Control System
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bdmoadhlddglgcjlphboabpfcccfkhmj
Icon=chrome-bdmoadhlddglgcjlphboabpfcccfkhmj-Default
StartupWMClass=crx_bdmoadhlddglgcjlphboabpfcccfkhmj
