#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=FB7490
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=nahlpbepbeoliogpjjmbbhceinclldkm
Icon=chrome-nahlpbepbeoliogpjjmbbhceinclldkm-Default
StartupWMClass=crx_nahlpbepbeoliogpjjmbbhceinclldkm
