#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Aura for PHP
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mnoiigiccogkapcjimfelindjdcmcjgh
Icon=chrome-mnoiigiccogkapcjimfelindjdcmcjgh-Default
StartupWMClass=crx_mnoiigiccogkapcjimfelindjdcmcjgh
