#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Simplified JavaScript Jargon
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ifojedmiiamokobnkdoldlfifojhmjje
Icon=chrome-ifojedmiiamokobnkdoldlfifojhmjje-Default
StartupWMClass=crx_ifojedmiiamokobnkdoldlfifojhmjje
