#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jargons of Software Industry
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ohgbbplgcmgfohpagfifaijafenclmel
Icon=chrome-ohgbbplgcmgfohpagfifaijafenclmel-Default
StartupWMClass=crx_ohgbbplgcmgfohpagfifaijafenclmel
