#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Brother HL-2170W series
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=eblegibfdamhhlcfmbmadmflcfmmdcbm
Icon=chrome-eblegibfdamhhlcfmbmadmflcfmmdcbm-Default
StartupWMClass=crx_eblegibfdamhhlcfmbmadmflcfmmdcbm
