#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=openmediavault - The open network attached storage solution
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bejcjabokkdbebeilieljpfkbjedmfea
Icon=chrome-bejcjabokkdbebeilieljpfkbjedmfea-Default
StartupWMClass=crx_bejcjabokkdbebeilieljpfkbjedmfea
