#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Design Patterns - PHP: The Right Way
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=dommeomgdpfefbpdpkjjghmlbeoadmpe
Icon=chrome-dommeomgdpfefbpdpkjjghmlbeoadmpe-Default
StartupWMClass=crx_dommeomgdpfefbpdpkjjghmlbeoadmpe
