[Desktop Entry]
Encoding=UTF-8
Name=Link to Tom Butler's Programming Blog - MVC in PHP, Best Practices, Separation of Concerns
Type=Link
URL=https://r.je/
Icon=text-html
